body {
    background-color: #C96567;
    font-family: 'Rubik';
}

#title {
    color: #9E5A63;
}

.title {
    border:1px solid black;
    text-align: center;
}

.buttons {
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    height: 350px;
}

.user-choice {
    border:1px solid black;
    text-align:center;
    width:300px;
    height:300px;
}

.vs {
    border:1px solid black;
    width:80px;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9E5A63;
    font-size: 30px;
}

.computer-choice {
    border:1px solid black;
    text-align:center;
    width:300px;
    height:300px;
}

.player-chose {
    border:1px solid black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    color: #314455;
}

#player-option {
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
    background-color: #314455;
    border: none;
    color: #C96567;
    width: 300px;
    height: 100px;
    font-size: 40px;
    margin-top: 40px;
}

.computer-chose {
    border:1px solid black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    color: #314455;
}

#computer-option {
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
    background-color: #314455;
    border: none;
    color: #C96567;
    width: 300px;
    height: 100px;
    font-size: 40px;
    margin-top: 40px;
}

.result {
    border:1px solid black;
    height: 250px;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
}

#result-display {
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    background-color: #314455;
    border: none;
    color: #C96567;
    width: 500px;
    height: 200px;
    font-size: 80px;
}

#play-rock {
    font-family: 'Rubik';
    background-color: #314455;
    border: none;
    color: #C96567;
    width: 250px;
    height: 80px;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#play-paper {
    font-family: 'Rubik';
    background-color: #314455;
    border: none;
    color: #C96567;
    width: 250px;
    height: 80px;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#play-scissors {
    font-family: 'Rubik';
    background-color: #314455;
    border: none;
    color: #C96567;
    width: 250px;
    height: 80px;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
}